html {
    width: 100%;
    height: 100%;
}

.fork-me {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.error {
    color: crimson;
}